*.iml
#.gradle
/.gradle
#/local.properties

#idea文件夹
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/markdown-navigator
/.idea/vcs.xml
/.idea/markdown-navigator.xml
.idea/caches/gradle_models.ser
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml

.DS_Store
/build
/captures
.externalNativeBuild